.boxOne {

    background: blue;
}

.boxTwo {

    background: green;
}

.boxThree {

    background: purple;
}
.boxFour {

    background:orange;
}
.boxFive {

    background: red;
}
.boxSix {

    background: yellow;
}